<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} [%-10t] %-5level %logger{5} - %msg%n" />
			<LevelRangeFilter minLevel="FATAL" maxLevel="TRACE" />
		</Console>
		<File name="ErrorLog" fileName="D:/temp/error.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss:SSS} [%-10t] %-5level %logger{5} - %msg%n %throwable" />
			<LevelRangeFilter minLevel="FATAL" maxLevel="WARN" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="WARN">
			<AppenderRef ref="ErrorLog" />
		</Root>
		<!-- all app DEBUG logger  -->
		<logger level="DEBUG" name ="com.epam.learn.java.ad.gallery">
			<AppenderRef ref="Console" />
		</logger>
		
		<!-- web package logger  -->
		<logger level="TRACE" name ="com.epam.learn.java.ad.gallery.web">
		</logger>
	</Loggers>
</Configuration>